@page "/"
@using AquaChat.Services
@using CommunityToolkit.Maui.Alerts
@using AquaChat.Models
@inject ChatService ChatService
@inject ChatMessageState State

<script>
    function toggleQuote(buttonElement, quoteId) {
        const quoteElement = document.getElementById(quoteId);
        if (quoteElement.style.display === 'none') {
            quoteElement.style.display = 'block';
            buttonElement.innerText = 'Close';
        } else {
            quoteElement.style.display = 'none';
            buttonElement.innerText = 'Open';
        }
    }
</script>

<!-- 聊天窗口容器 -->
<div class="flex-1 overflow-y-auto p-4 mb-16">
    
    @foreach(var item in Messages) {
        if (item.ReferenceContent is not null)
        {
            <!-- 带有引用的消息 -->
            <div class="mb-2 p-2 rounded-lg bg-white text-black w-full shadow-lg relative backdrop-blur">
                <button onclick="toggleQuote(this, 'quote1')"
                        class="block mb-1 top-1 right-1 bg-black text-white px-2 py-1 rounded opacity-75">
                    Open
                </button>
                <div id="quote-@item.Id" class="mb-2 p-2 border-l-4 border-gray-400 bg-gray-200 text-black italic"
                     style="display: none;">
                    @item.ReferenceContent
                </div>
                @item.Content
            </div>
        }
        else
        {
            <!-- 其他消息 -->
            <div class="mb-2 p-2 rounded-lg bg-gray-100 text-black w-full shadow-lg backdrop-blur">
                @item.Content
            </div>
        }
    }
</div>

<!-- 底部输入框容器 -->
<div class="fixed bottom-5 left-0 right-0 p-2 bg-white rounded-xl shadow-xl mx-4 backdrop-blur">
    <div class="flex items-center border rounded-xl overflow-hidden">
        <textarea id="input-text" class="flex-1 p-2 resize-none outline-none focus:ring focus:ring-gray-400"
                  rows="1" placeholder="input something..." @bind="TextAreaText"></textarea>
        <button class="bg-black text-white rounded-xl px-4 py-2 shadow-md mr-2 opacity-75" disabled="@_disabled" @onclick="SendMessage">
            ➤
        </button>
    </div>
</div>

@code
{

    private bool _disabled = false;

    private List<Message> Messages { get; set; } = new List<Message>();

    private string? TextAreaText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SetSendButtonDisable();
        await base.OnInitializedAsync();
        if (State.CurrentChat is null)
        {
            await Toast.Make("current chat not exists").Show();
            await Shell.Current.GoToAsync(nameof(ChatPage));
        }
        else
        {
            Messages = await ChatService.ListChatMessages(State.CurrentChat.Id);
        }
        SetSendButtonEnabled();
    }

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(TextAreaText))
        {
            await Toast.Make("please input something").Show();
            return;
        }
        SetSendButtonDisable();
        Messages.Add(new Message
        {
            Content = TextAreaText,
            Created = DateTime.Now,
            MessageType = Message.TypeHuman
        });
        var chatResponse = await ChatService.ChatResponse(State.CurrentChat.Id, TextAreaText);
        Messages.Add(chatResponse);
        SetSendButtonEnabled();
    }

    private void SetSendButtonDisable()
    {
        _disabled = true;
    }

    private void SetSendButtonEnabled()
    {
        _disabled = false;
    }


}
